.form-bg {
    background-color: #e43b3b;
    border-radius: 4%;
    border: 5px solid #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
    overflow: auto;
}

.form-top {
    margin-top: 7%;
}

.card2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
}